h3='Nepríde jedlo :-('
.row
  .col
    .btn-group
      a.btn.btn-warning(
        href="/nopresto"
        onclick='return confirm(\'Are you sure?\')'
      ) Presto
      a.btn.btn-success(
        href="/noveglife"
        onclick='return confirm(\'Are you sure?\')'
      ) Veglife
      a.btn.btn-info(
        href="/nomizza"
        onclick='return confirm(\'Are you sure?\')'
      ) Pizza Mizza
      a.btn.btn-warning(
        href="/nohamka"
        onclick='return confirm(\'Are you sure?\')'
      ) Hamka
