
h3='Prišlo jedlo!'
.row
  .col
    .btn-group
      a.btn.btn-warning(
        href="/presto"
        onclick='return confirm(\'Are you sure?\')'
      ) Presto
      a.btn.btn-success(
        href="/veglife"
        onclick='return confirm(\'Are you sure?\')'
      ) Veglife
      a.btn.btn-info(
        href="/hamka"
        onclick='return confirm(\'Are you sure?\')'
      ) Hamka
