- var linkPrefix = office ? '/' + office.id : ''
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  div.container
    a.navbar-brand(href='/')='Obedbot ' + (office ? office.name : '') + ' '
      small=title
    button.navbar-toggler(
      type='button'
      data-toggle='collapse'
      data-target='#navbarToggle'
      aria-controls='navbarToggle'
      aria-expanded='false'
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon
    #navbarToggle.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item
          select(
            onchange="changeOffice(this.value)"
          )
            if !office
              option(selected)
            each ofc in offices
              option(value=ofc.id, selected=office && office.id === ofc.id)=ofc.name
        if office
          li.nav-item
            a.nav-link(
              href=linkPrefix + '/'
              class=`${activePage === 'index' ? 'active' : ''}`
            )='Čísla'
          li.nav-item
            a.nav-link(
              href=linkPrefix + '/named'
              class=`${activePage === 'named' ? 'active' : ''}`
            )='Mená'
        li.nav-item
          a.nav-link(
            href='/notifications'
            class=`${activePage === 'notifications' ? 'active' : ''}`
          )='Notifikácie'
