html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='public/css/style.css')
  body
    div(id='main')
      h1= tableName
      h2
        b Presto
      table
        tr
          td
          - for (var i = 0; i < presto.meals.length; ++i) {
            td= i + 1
          - }
        tr
          td Presto
          - for (var i = 0; i < presto.meals.length; ++i) {
              td
                b= presto.meals[i] || ''
          - }
      p
        table
          tr
            th Číslo polievky
            th Počet
          - for (var key in presto.soups) {
              tr
                td= key
                td= presto.soups[key]
          - }


      p
        h2
          b Pizza
      table
        tr
          th Číslo pizze
          th Počet
        - for (var key in pizza) {
            tr
              td= key
              td= pizza[key]
        - }


      p
        h2
          b Veglife
      table
        tr
          th
          - for (var i = 0; i < 4; ++i) {
            th= i + 1
          - }
          th Polievky
          th Šaláty
        tr
          td Veglife
          - for (var i = 0; i < 4; ++i) {
            if veglife.meals[i] !== 0
              td
                b= veglife.meals[i]
            else
              td
          - }
          td= veglife.soups
          td= veglife.salads

      p
        h2
          b Spaghetti
      table
        - for (var key in spaghetti) {
            tr
              td= key
              td= spaghetti[key]
        - }

      p
        h2
          b Nakup
      table
        - for (var order of shop) {
          tr
            td= order
        - }

      p
        h2
          b Prišlo jedlo!
        a(href="/presto") Presto
        br
        a(href="/veglife") Veglife
        br
        a(href="/spaghetti") Spaghetti
        br