html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='public/css/style.css')
  body
    div(id='main')
      h1= tableName
      h2
        b Presto
      table
        tr
          td
          - for (var i = 0; i < presto.meals.length; ++i) {
            td= i + 1
          - }
        tr
          td Presto
          - for (var i = 0; i < presto.meals.length; ++i) {
              td
                b= presto.meals[i] || ''
          - }
      p
      b Polievky
        table
          - for (var key in presto.soups) {
              tr
                td= key
                td= presto.soups[key]
          - }


      p
        h2
          b Veglife
      table
        tr
          th
          - for (var i = 0; i < 4; ++i) {
            th= i + 1
          - }
          th Polievky
        tr
          td Veglife
          - for (var i = 0; i < 4; ++i) {
            if veglife[i] !== 0
              td
                b= veglife[i]
            else
              td
          - }
          td= veglife.reduce(function(a, b) { return a + b; }, 0)

      p
        h2
          b Spaghetti
      table
        - for (var key in spaghetti) {
            tr
              td= key
              td= spaghetti[key]
        - }

      p
        h2
          b Nakup
      table
        - for (var order of shop) {
          tr
            td= order
        - }

      p
        h2
          b Vsetky spravy
      div
        - for (var order of orders) {
          p= order.text
        - }