html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
  body
    div(id='main')
      h1= tableName
      table
        tr
          each orders, restaurant in allOrders
            th= restaurant
        - for (var i = 0; i < maxOrders; ++i) {
            tr
              td= allOrders['Jedlo pod nos'][i].order
              td= allOrders['Veglife'][i].order
              td= allOrders['Spaghetti'][i].order
              td= allOrders['Nakup'][i].order
        - }