doctype html
html
  include includes/head.pug

  body
    div(id='main')
      div(class='row')
        h1(id='title-main')
          b= tableName

      div(class='row')
        include includes/links.pug

      div(class='row')
        div(class='col-lg-1 col-md-1 col-sm-12 col-xs-12')
        each orders, restaurant in allOrders
          div(class='col-lg-2 col-md-2 col-sm-12 col-xs-12')
            h2(class='named-title')
              b= restaurant.charAt(0).toUpperCase() + restaurant.slice(1)
            table(class='table')
              thead
                tr
                  th= 'Meno'
                  th= 'Objednávka'
              tbody
                each order in orders
                  tr
                    td= order.user
                    td= order.order
        div(class='col-lg-1 col-md-1 col-sm-12 col-xs-12')
