doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug
    .container
      .row
        each restaurant in restaurantOrders
          .col-md-6.col-xs-12
            h3= restaurant.name
            table.table.table-sm
              thead.thead-light
                tr
                  th='Meno'
                  th='Objednávka'
              tbody
                each order in restaurant.orders
                  tr
                    td= order.userName
                    td= order.text
