doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug
    .container
      .row
        each orders, restaurant in allOrders
          .col-md-6.col-xs-12
            h3= restaurant.charAt(0).toUpperCase() + restaurant.slice(1)
            table.table.table-sm
              thead.thead-light
                tr
                  th='Meno'
                  th='Objednávka'
              tbody
                each order in orders
                  tr
                    td= order.user
                    td= order.order
