doctype html
html
  include includes/head.pug

  body
    div(id='main')
      div(class='row')
          h1(id='title-main')
            b=title

      div(class='row')
        include includes/links.pug

      div(class='row')
        div(class='col-lg-3')
        div(class='col-lg-6')
          table(class='table table-notifications')
            thead
              th='Meno'
              th='Notifikácie'
              th='Mute'
            tbody
              each user in users
                tr
                  td=user.username
                  td=user.notifications ? 'Zapnuté' : 'Vypnuté'
                  td
                    if user.notifications
                      a(href='/mute?channel=' + user.channel_id)
                        div(class='glyphicon glyphicon-volume-off mute')
                    else
                      a(href='/unmute?channel=' + user.channel_id)
                        div(class='glyphicon glyphicon-volume-up mute')
        div(class='col-lg-3')
