doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug

    .container
      .row
        .col
          table.table.table-sm
            thead.thead-light
              th='Meno'
              th='Notifikácie'
              th=''
            tbody
              each user in users
                tr
                  td=user.username
                  td=user.notifications ? 'Zapnuté' : 'Vypnuté'
                  td
                    if user.notifications
                      a(href='/mute?channel=' + user.channel_id)
                        ='OFF'
                    else
                      a(href='/unmute?channel=' + user.channel_id)
                        ='ON'
