h3='Presto '

table.table.table-sm
  thead.thead-light
    tr
      - var i = 0;
      while i < presto.meals.length
        th= ++i
  tbody
    tr
      each amount in presto.meals
        if amount > 0
          td=amount
        else
          td

table.table.table-sm
  thead.thead-light
    tr
      th Číslo polievky
      th Počet
  tbody
    each amount, soupNumber in presto.soups
      tr
        td=soupNumber + 1
        if amount
          td=amount
        else
          td

table.table.table-sm
  thead.thead-light
    tr
      th Pizza
      th Počet
  tbody
    each amount, pizzaType in presto.pizza
      tr
        td=pizzaType
        td=amount
