h3(id='title-veglife', class='title')
  b Veglife
table(id='table-veglife', class='table')
  thead
    tr
      - var i = 0;
      while i++ < 4
        th= i
  tbody
    tr
      each amount in veglife.meals
        td
          unless amount === 0
            b=amount

table(id='table-veglife-soups', class='table')
  thead
    tr
      th='Polievky'
      th='Šaláty'
  tbody
    tr
      td=veglife.soups
      td=veglife.salads
