h3='Veglife'
table.table.table-sm
  thead.thead-light
    tr
      - var i = 0;
      while i < veglife.meals.length
        th= ++i
  tbody
    tr
      each amount in veglife.meals
        if amount > 0
          td=amount
        else
          td

table.table.table-sm
  thead.thead-light
    tr
      th='Polievky'
      th='Šaláty'
  tbody
    tr
      td=veglife.soups
      td=veglife.salads
